# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
# production
# 暂时注释 dist
/dist
dist
/distsh
distsh
/dist_back
dist_back

# misc
.DS_Store

.gitmodules